<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Start -->
<div class="modal-body">
    <div class="Signin-form">
        <form [formGroup]="signinForm">
            <h2 class="text-center">Sign In</h2>
            <p>Please provide following details to login into the system</p>
            <div class="form-group">
                <input type="email" class="form-control" formControlName="email" placeholder="Email Id" trim="blur">
                <p class="error" *ngIf="signin['email'].errors && signinForm.get('email').touched">
                    <span *ngIf="signin['email'].errors.required">Email is a required</span>
                    <span *ngIf="signin['email'].errors.email">Email is not valid</span>
                </p>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" formControlName="password">
                <p class="error" *ngIf="signin['password'].errors && signinForm.get('password').touched">
                    <span *ngIf="signin['password'].errors.required">Password is a required</span>
                    <span *ngIf="signin['password'].errors.minlength">Password must be at least 6 character long</span>
                    <span *ngIf="signin['password'].errors.maxlength">Password must not be more than 12 character
                        long</span>
                </p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary sign-in" (click)="submit(emailverification)"
                    [disabled]="!signinForm.valid">Sign In</button>

            </div>
            <button class="btn login-with-google forgot-password" size="large" shape="round"
                (click)="doGoogleLogin()"><img src="assets/images/google-plus.png"> Login with Google</button><br />
            <a class="forgot-password" (click)="openSignup()">Sign Up</a>
        </form>
    </div>
</div>
<!-- End -->

<ng-template #signupform>
    <app-sign-up (closeModalEvent)="closeModal()"></app-sign-up>
</ng-template>