    .modal-header {
        padding: 1rem 1rem 0;
        border: none;
        .close {
            padding: 0px 0 0;
            margin: -0.5rem -0.5rem -1rem auto;
            border: 1px solid #000;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            z-index: 9999999999;
            position: relative;
            outline: 0;
            opacity: 1;
            span {
                margin: -3px 0px 0 1px;
                display: block;
                font-weight: normal;
                font-size: 20px;
                color: #3a3a3a;
            }
        }
    }
    
    .modal-body {
        padding: 0rem 3rem 1rem;
        display: table;
        width: 100%;
        .Signin-form {
            .form-group.redio-button {
                padding: 0;
                text-align: center;
                margin: 0 auto;
                width: 450px;
                float: none;
                .form-check {
                    padding-left: 5rem;
                    float: left;
                    [type="radio"]:checked,
                    [type="radio"]:not(:checked) {
                        position: absolute;
                        left: -9999px;
                    }
                    [type="radio"]:checked+label,
                    [type="radio"]:not(:checked)+label {
                        position: relative;
                        padding-left: 28px;
                        cursor: pointer;
                        line-height: 20px;
                        display: inline-block;
                        color: #666;
                    }
                    [type="radio"]:checked+label:before,
                    [type="radio"]:not(:checked)+label:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 18px;
                        height: 18px;
                        border: 2px solid #ddd;
                        border-radius: 100%;
                        background: #fff;
                    }
                    [type="radio"]:checked+label:before {
                        border-color: #cc5801;
                    }
                    [type="radio"]:checked+label:after,
                    [type="radio"]:not(:checked)+label:after {
                        content: '';
                        width: 8px;
                        height: 8px;
                        background: #cc5801;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        border-radius: 100%;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                    }
                    [type="radio"]:not(:checked)+label:after {
                        opacity: 0;
                        -webkit-transform: scale(0);
                        transform: scale(0);
                    }
                    [type="radio"]:checked+label:after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }
            text-align: center;
            h2 {
                font-size: 20px;
                padding: 15px 0;
                font-family: Roboto;
                font-weight: bold;
            }
            p {
                color: #434343;
                font-size: 16px;
                margin-bottom: 20px;
                font-weight: normal;
                font-family: Roboto;
            }
            .info-message{
                float: left;
                color: gray;
                font-size: 14px;
                margin-bottom: 10px;
                margin-left: 10px;
            }
            .form-group {
                position: relative;
                width: 100%;
                float: left;
                .sign-in {
                    width: 150px;
                    margin: 0 10px;
                    background: #cc5801;
                    border-color: #cc5801;
                    border-radius: 20px;
                    outline: none;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                    &:hover {
                        background-color: #424242;
                        border-color: #424242;
                    }
                }
                /* .active {
                    background-color: #424242;
                    border-color: #424242;
                } */
                .form-control {
                    border-radius: 20px;
                    &:focus {
                        border-color: #cc5801;
                    }
                }
                .error {
                    color: #f34225;
                    font-size: 12px;
                    float: left;
                    margin-left: 10px;
                    margin-bottom: 0px;
                }
                .select {
                    margin-bottom: 0;
                    margin-top: 0rem;
                    width: 100%;
                    border-radius: 3px;
                    margin-bottom: 0em;
                    float: left;
                    &:after {
                        content: "▼";
                        padding: 12px 8px;
                        position: absolute;
                        right: 5px;
                        top: 0;
                        z-index: 1;
                        text-align: center;
                        width: auto;
                        height: 100%;
                        pointer-events: none;
                        font-size: 8px;
                    }
                    .select__field {
                        background: none;
                        width: 100%;
                        padding: 5px 30px;
                        color: #616263;
                        background-color: #fff;
                        border: 1px solid #e3e3e3;
                        outline: none;
                        font-size: 0.8rem;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        border-radius: 7rem;
                    }
                }
                .pull-right.forgot-password {
                    transition-duration: .2s;
                    padding: 0 10px;
                    float: right;
                    margin-top: 15px;
                    &:before {
                        display: none;
                    }
                    &:after {
                        display: none;
                    }
                    &:hover {
                        color: #cc5801;
                        transition-duration: .2s;
                    }
                }
                .fa-address-card-o {
                    font-size: 12px !important;
                    top: 10px !important;
                }
                .fa.fa-eye {
                    position: absolute !important;
                    right: 15px;
                    top: 10px !important;
                    color: #b1afaf;
                    left: inherit;
                }
                .fa-eye-slash {
                    position: absolute !important;
                    right: 15px;
                    top: 10px !important;
                    color: #b1afaf;
                    left: inherit;
                }
                .fa.fa-key {
                    transform: rotate(90deg);
                    color: #5f5f5f;
                }
            }
        }
    }

    .form-control:disabled, .form-control[readonly]{
        background-color: white !important;
    }
    
    @media(max-width:768px) {
        .modal-body {
            .Signin-form {
                .form-group.redio-button {
                    width: 100%;
                    float: none;
                }
            }
        }
    }