.discover {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 100px;

    .beer-discover {
        width: 100%;
        float: left;
        position: relative;

        /*  &:after {
            background: url("/assets/images/beer-border.png") no-repeat center;
            content: "";
            position: absolute;
            background-size: contain;
        } */
        img {
            width: 150px;
            margin: 0 auto 0;
            text-align: center;
        }

        img.beer-devider {
            position: absolute;
            top: 10%;
            left: 48%;
            transform: rotate(0 -50%);
            transform: translate(48%, 10%);
            padding: 25px;
        }

        img.beer-devider.beer-devider-rotat {
            transform: rotate(180deg) !important;
            left: 75% !important;
            top: 18% !important;
        }

        h2 {
            font-family: Roboto;
            font-size: 50px;
            font-weight: bold;
            line-height: 0.68;
            letter-spacing: 1.54px;
            text-align: center;
            color: #262626;
        }

        p {
            font-size: 16px;
            line-height: 1.89;
            letter-spacing: 0.36px;
            text-align: center;
            color: #8b8b8b;
            width: 100%;
            margin: 30px auto 30px;
        }
    }
}

.featured {
    width: 100%;
    background: url("/assets/images/featured-bg.png") no-repeat center;
    padding: 100px 0;
    background-size: cover;
    float: left;

    .featured-titel {
        width: 100%;
        float: left;
        border-bottom: solid 1px #ccc;
        padding-bottom: 15px;

        h3 {
            letter-spacing: 0.68px;
            text-align: left;
            color: #262626;
            font-size: 25px;
            float: left;
        }

        button {
            width: 114px;
            height: 40px;
            border-radius: 20px;
            border: solid 1px #262626;
            background-color: #ffffff;
            font-family: Roboto;
            font-size: 16px;
            font-weight: normal;
            text-align: center;
            color: #262626;
            float: right;

            &:hover {
                background: #cc5801;
                color: #fff;
                border-color: #cc5801;
            }
        }
    }

    .home-featured-slider {
        width: 100%;
        float: left;

        .featured-product {
            width: 100%;
            float: left;
            text-align: center;

            // padding-top: 50px;
            img {
                /*   margin: 50px 0;
            height: 256px;
            overflow: hidden;
            width: 64px;
            margin: 0 auto;
            max-width: 100%; */
                cursor: pointer;
                max-width: 100%;
                padding: 0;
                margin: 0px auto;
                height: 260px;
                -o-object-fit: contain;
                object-fit: cover;
                width: 100%;
                padding: 15px 15px 0px 15px;
            }

            h4 {
                color: #434343;
                font-size: 20px;
                letter-spacing: 0.4px;
                text-align: center;
                margin: 25px 0 0;
            }

            ul {
                padding: 0;
                width: 100%;
                margin-bottom: 6px;

                li {
                    display: inline-block;
                    list-style: none;
                    margin: 0 4px;

                    img {
                        height: auto;
                    }
                }
            }

            .price {
                width: 104px;
                margin: 0 auto;
                font-size: 14px;
                text-align: center;
                color: #434343;

                p {
                    float: right;
                    font-size: 12px;
                    font-weight: normal;
                    margin: 2px 0 15px;
                }
            }
        }
    }
}

.message-day {
    width: 100%;
    padding: 60px 0;
    text-align: center;
    float: left;

    h3 {
        letter-spacing: 0.68px;
        text-align: center;
        color: #262626;
        font-size: 30px;
    }

    p {
        letter-spacing: 0.52px;
        text-align: center;
        color: #8b8b8b;
        font-size: 20px;
        font-style: italic;
        line-height: 1.31;
        font-family: Roboto;
        width: 80%;
        margin: 0 auto;
        padding-top: 10px;
    }
}

.bg-sec {
    width: 100%;
    float: left;
    background-color: #cc5801;
    padding: 60px 0;

    p {
        letter-spacing: 0.52px;
        text-align: center;
        color: #efeded;
        font-size: 20;
        line-height: 1.31;
        font-family: Roboto;
        width: 80%;
        margin: 0 auto;
        font-size: 20px;
    }

    a {
        text-align: center;
        color: #efeded;
        font-size: 20px;
        font-family: Roboto;
        text-decoration: none;
        max-width: 305px;
        height: 61px;
        border-radius: 31px;
        border: solid 1px #f2be8b;
        background-color: #424242;
        display: block;
        margin: 30px auto 0;
        line-height: 61px;
        font-weight: 500;
    }
}

.recent-articles {
    width: 100%;
    float: left;
    padding: 70px 0px;

    .recent-titel {
        width: 100%;
        float: left;
        border-bottom: solid 1px #ccc;
        padding-bottom: 20px;

        h3 {
            letter-spacing: 0.68px;
            text-align: left;
            color: #262626;
            font-size: 34px;
            float: left;
            margin-bottom: 0;
            font-weight: 600;
        }

        button {
            width: 114px;
            height: 40px;
            border-radius: 20px;
            border: solid 1px #262626;
            background-color: #ffffff;
            font-family: Roboto;
            font-size: 16px;
            font-weight: normal;
            text-align: center;
            color: #262626;
            float: right;

            &:hover {
                background: #cc5801;
                color: #fff;
                border-color: #cc5801;
            }
        }
    }

    .recent-item {
        width: 100%;
        float: left;
        text-align: center;
        padding-top: 50px;
        cursor: pointer;

        img {
            max-width: 100%;
            text-align: center;
            margin: 0 auto;
            border-radius: 20px;
            height: 225px;
            object-fit: cover;
        }

        h4 {
            color: #434343;
            font-size: 20px;
            letter-spacing: 0.4px;
            text-align: center;
            margin: 25px 0 0;
            font-weight: normal;
        }

        small {
            color: #8b8b8b;
        }

        p {
            font-family: Roboto;
            font-size: 16px;
            line-height: 1.67;
            letter-spacing: 0.36px;
            text-align: center;
            color: #8b8b8b;
            padding-top: 10px;
            margin: 0;
            height: 65px;
            overflow: hidden;
        }
    }
}

@media(max-width:1199px) {
    .discover {
        .beer-discover {
            img {
                width: 125px;
            }
        }
    }
}

@media(max-width:991px) {
    .discover {
        .beer-discover {
            img {
                &.beer-devider {
                    top: 8%;
                    left: 34%;

                    &.beer-devider-rotat {
                        top: 12% !important;
                    }
                }
            }
        }
    }
}

@media(max-width:767px) {
    .discover {
        .beer-discover {
            img {
                &.beer-devider {
                    width: 70%;
                    top: 0;
                    left: 36%;

                    &.beer-devider-rotat {
                        display: none;
                    }
                }
            }
        }
    }

    .recent-articles {
        .recent-titel {
            h3 {
                font-size: 24px;
            }

            button {
                width: 90px;
                height: 32px;
                font-size: 14px;
            }
        }
    }
}

@media(max-width:640px) {
    .discover {
        .beer-discover {
            img.beer-devider.beer-devider-rotat {
                display: none;
            }
        }
    }
}

@media(max-width:575px) {
    .discover {
        .beer-discover {
            margin-bottom: 90px;

            p {
                margin: 5px auto 5px;
            }

            img.beer-devider {
                display: block;
                padding: 35px;
                right: 0;
                transform: rotate(95deg);
                top: 100%;
                left: 0;
                width: 150px;
            }

            img.beer-devider.beer-devider-rotat {
                display: block;
                padding: 35px;
                right: 0 !important;
                transform: rotate(275deg) !important;
                top: 100% !important;
                left: 0 !important;
            }
        }
    }
}

@media(max-width:480px) {
    .discover {
        img {
            max-width: 100%;
        }

        h2 {
            font-size: 25px;
        }
    }
}