<!-- Categories section end -->
<div class="Blog-sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Categories</h2>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="blog-item" *ngFor="let category of categories">
                            <h3>{{category.name}}</h3>
                            <p [innerHTML]="category.text"></p>
                            <span *ngFor="let attachment of category.attachments">
                                <img src="attachment">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <pagination [rotate]="pagination?.rotate" [maxSize]="pagination?.maxSize"
                        [itemsPerPage]="pagination?.itemsPerPage" [(ngModel)]="currentPage"
                        (pageChanged)="pageChanged($event)" class="pull-right" [totalItems]="totalRows">
                    </pagination>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Categories section end -->